@import "compass/css3";
html,
body {
    margin: 0px;
    padding: 0px;
    // background-color: gray;
}

div {
    position: relative;
}

.ocean {
    background: blue;
    margin:0px;
    height: 90vh;
    .player, .opponent {
        position: absolute;
        top: 200px;
        width: 80px;
        img {
            width: 100%;
        }
    }
    .player {
        left: 20px;
    }
    .opponent {
        right: 20px;
    }
    h1 {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate3d(-50%, -50%, 0px);
    }
    h3{
        position:absolute;
        top:30%;
        left:50%;
        transform:translate3d(-50%,-50%,0px);
    }
}

.floor {
    padding: 30px;
    background: yellow;
    .charges {
        float: left;
        width: 15%;
    }
    .attacks {
        float: left;
        width: 60%;
        text-align: center;
    }
    .blocks {
        float: right;
        width: 25%;
        text-align: right;
    }
    &:after {
        content: ' ';
        display: block;
        clear: both;
    }
    button {
        width: 70px;
        height: 70px;
        border-radius: 50px;
        border: 5px dotted black;
    }
}

.menu {
    background-color: skyblue;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    height: 200px;
    transform: translate3d(-200px, -100px, 0px);
    padding: 20px;
    text-align: center;
    .title {
        font-size: 80px;
    }
    button {
        padding: 10px;
        font-size: 20px;
    }
}