body {
  padding: 50px;
}

div {
  position: relative;
}

.ocean {
  background: blue;
  margin: 0px;
  height: 90vh;
}
.ocean .player, .ocean .opponent {
  position: absolute;
  top: 40vh;
  width: 80px;
}
.ocean .player img, .ocean .opponent img {
  width: 100%;
}
.ocean .player {
  left: 20px;
}
.ocean .opponent {
  right: 20px;
}
.ocean h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0px);
}

.floor {
  padding: 20px;
  background: yellow;
}
.floor .charges {
  float: left;
  width: 15%;
}
.floor .attacks {
  float: left;
  width: 60%;
  text-align: center;
}
.floor .blocks {
  float: right;
  width: 25%;
  text-align: right;
}
.floor:after {
  content: ' ';
  display: block;
  clear: both;
}
.floor button {
  width: 60px;
  height: 60px;
  border-radius: 50px;
  border: 5px solid black;
}
