body {
  padding: 50px;
  background-color: gray;
}

#player {
  font-size: 40px;
  color: blue;
}

#round {
  font-size: 40px;
  color: blue;
}

#chargeyihao {
  font-size: 40px;
  color: blue;
}

#countdown {
  font-size: 40px;
  color: blue;
}

#charge1 {
  font-size: 40px;
  color: blue;
}
