<!DOCTYPE html>
<html>
  <head>
    <font size="7" color="gold">Bubble</font>
  </head>
  <body>
    <h2 id="player"></h1>
    <h1 id="countdown"></h1>
    <h3 id='charge'></h3>
  <br>
    <font size="4" color="green">CHARGE</font>
    <button id="charge" style='color:green' value=0>charge</button>
  <br>
    <font size="4" color="red">ATTACK</font>
    <button id="bubble" style='color:red' value=1>bubble</button>
    <button id="copperbubble" style='color:#cc6600' value=2>copperbubble</button>
    <button id="ironbubble" style='color:#404040' value=3>ironbubble</button>
    <button id="goldbubble" style='color:gold' value=4>goldbubble</button>
    <button id="crystalbubble" style='color:#33FFFF' value=5>crystalbubble</button>
    <button id="diamondbubble" style='color:#cc00cc' value=6>diamondbubble</button>
  <br>
    <font size="4" color="blue">DEFENSE</font>
    <button id="normal" style='color:blue' value="=">normal defense</button>
    <button id="super" style='color:#330066' value="==">super defense</button>
    <script>
    var host = document.location.host.replace(/:.*/, '');
    var ws = new WebSocket('ws://' + host);
    console.log('ws://' + host);
    console.log(ws);
    ws.onopen = function() {
      console.log('open', arguments);
    }
    ws.onerror = function() {
      console.log('error, arguments');
    }
    ws.onmessage = function(event) {
      console.log(event.data);
      var data = JSON.parse(event.data);
      if (data.player) {
        document.querySelector('#player').innerHTML = data.player;
      }
      var countdown = document.querySelector('#countdown');
      if (data.start) {
        setTimeout(function() { countdown.innerHTML = 'Pao' }, 1000);
        setTimeout(function() { countdown.innerHTML = 'Pao' }, 3000);
        setTimeout(function() { countdown.innerHTML = 'Yun' }, 5000);
      }
      // if (data.tie) {
      //   countdown.innerHTML = 'IT\'S A TIE';
      // } else if (data.win === true) {
      //   countdown.innerHTML = 'YOU WIN!';
      // } else if (data.win === false) {
      //   countdown.innerHTML = 'YOU LOSE';
      // }
    }
    document.querySelector('#charge').onclick = function() {
      ws.send(JSON.stringify({ value: 0 }));
    }
    document.querySelector('#bubble').onclick = function() {
      ws.send(JSON.stringify({ value: 1 }));
    }
    document.querySelector('#copperbubble').onclick = function() {
      ws.send(JSON.stringify({ value: 2 }));
    }
    document.querySelector('#ironbubble').onclick = function() {
      ws.send(JSON.stringify({ value: 3 }));
    }
    document.querySelector('#goldbubble').onclick = function() {
      ws.send(JSON.stringify({ value: 4 }));
    }
    document.querySelector('#crystalbubble').onclick = function() {
      ws.send(JSON.stringify({ value: 5 }));
    }
    document.querySelector('#diamondbubble').onclick = function() {
      ws.send(JSON.stringify({ value: 6 }));
    }
    document.querySelector('#normal').onclick = function() {
      ws.send(JSON.stringify({ value: '=' }));
    }
    document.querySelector('#super').onclick = function() {
      ws.send(JSON.stringify({ value: '==' }));
    }
    window.onbeforeunload = function() {
      ws.onclose = function () {};
      ws.close()
  };
    </script>
  </body>
</html>
