<!DOCTYPE html>
<html>
  <head>
  </head>
  <body>
    <h2 id="player"></h2>
    <h1 id="countdown"></h1>
    <h3 id='charge'></h3>
  <br>
    CHARGE
    <button id="charge">YUN</button>
  <br>
    ATTACK
    <button id="bubble">PAOPAO</button>
    <button id="copper bubble">TONGBAOBAO</button>
    <button id="iron bubble">TIEPAOPAO</button>
    <button id="gold bubble">JINPAOPAO</button>
    <button id="crystal bubble">SHUIJINGPAOPAO</button>
    <button id="diamond bubble">ZHUANSHIPAOPAO</button>
  <br>
    DEFENSE
    <button id="normal">PUFANG</button>
    <button id="super">CHAOFANG</button>
    <button id="golden">JINFANG</button>

    <script>
    var host = document.location.host.replace(/:.*/, '');
    var ws = new WebSocket('ws://' + host + ':8080');
    ws.onmessage = function(event) {
      var data = JSON.parse(event.data);
      if (data.player) {
        document.querySelector('#player').innerHTML = data.player;
      }
msg.innerHTML = JSON.parse(event.data).message;
      document.body.appendChild(msg);
      console.log(JSON.parse(event.data));
    }
    </script>
  </body>
</html>