<!DOCTYPE html>
<html>
  <head>
  </head>
  <body>
    <h2 id="player"></h1>
    <h1 id="countdown"></h1>
  <br>
    CHARGE
    <button id="charge">YUN</button>
  <br>
    ATTACK
    <button id="bubble">PAOPAO</button>
    <button id="copper bubble">TONGBAOBAO</button>
    <button id="iron bubble">TIEPAOPAO</button>
    <button id="gold bubble">JINPAOPAO</button>
    <button id="crystal bubble">SHUIJINGPAOPAO</button>
    <button id="diamond bubble">ZHUANSHIPAOPAO</button>
  <br>
    DEFENSE
    <button id="normal">PUFANG</button>
    <button id="super">CHAOFANG</button>
    <button id="golden">JINFANG</button>

    <script>
    var host = document.location.host.replace(/:.*/, '');
    var ws = new WebSocket('ws://' + host + ':8080');
    ws.onmessage = function(event) {
      var data = JSON.parse(event.data);
      if (data.player) {
        document.querySelector('#player').innerHTML = data.player;
      }
      var countdown = document.querySelector('#countdown');
      if (data.start) {
        setTimeout(function() { countdown.innerHTML = 'ROCK' }, 1000);
        setTimeout(function() { countdown.innerHTML = 'PAPER' }, 2000);
        setTimeout(function() { countdown.innerHTML = 'SCISSOR' }, 3000);
        setTimeout(function() { countdown.innerHTML = 'SHOOT!' }, 4000);
      }
      if (data.tie) {
        countdown.innerHTML = 'IT\'S A TIE';
      } else if (data.win === true) {
        countdown.innerHTML = 'YOU WIN!';
      } else if (data.win === false) {
        countdown.innerHTML = 'YOU LOSE';
      }
    }
    document.querySelector('#rock').onclick = function() {
      ws.send(JSON.stringify({ choice: 'ROCK' }));
    }
    document.querySelector('#paper').onclick = function() {
      ws.send(JSON.stringify({ choice: 'PAPER' }));
    }
    document.querySelector('#scissor').onclick = function() {
      ws.send(JSON.stringify({ choice: 'SCISSOR' }));
    }
    window.onbeforeunload = function() {
      ws.onclose = function () {};
      ws.close()
  };
    </script>
  </body>
</html>
