<div class="ocean">
    <div class="player">
        <img src="./images/player-idle.jpg" />
    </div>
    <div class="opponent">
        <img src="./images/opponent-idle.jpg" />
    </div>
    <h1 id="round">Round 1</h1>
</div>
<div class="floor">
    <div class="charges">
        <button id="charge">Charge</button>
        <span># Charges</span>
    </div>
    <div class="attacks">
        <button>Charge</button>
        <button>Charge</button>
        <button>Charge</button>
        <button>Charge</button>
        <button>Charge</button>
        <button>Charge</button>
        <button>Charge</button>
        <button>Charge</button>
    </div>
    <div class="blocks">
        <button>Charge</button>
        <button>Charge</button>
    </div>
</div>






<h2 id="player">
</h2>
<h4 id="chargeandround">
    <span id="round"></span>
    <span id="chargeyihao"></span>
</h4>
<h1 id="countdown"></h1>
<h3 id='charge1'></h3>
<br>
<font size="4" color="green">CHARGE</font>
<button id="charge" style='color:green' value=-1>charge</button>
<br>
<font size="4" color="red">ATTACK</font>
<button id="bubble" style='color:red' value=1>bubble</button>
<button id="copperbubble" style='color:#cc6600' value=2>copperbubble</button>
<button id="ironbubble" style='color:#404040' value=3>ironbubble</button>
<button id="goldbubble" style='color:gold' value=4>goldbubble</button>
<button id="crystalbubble" style='color:#33FFFF' value=5>crystalbubble</button>
<button id="diamondbubble" style='color:#cc00cc' value=6>diamondbubble</button>
<br>
<font size="4" color="blue">DEFENSE</font>
<button id="normal" style='color:blue' value="=">normal defense</button>
<button id="super" style='color:#330066' value="==">super defense</button>
