<div class="ocean">
    <div class="player">
        <img src="./images/player-idle.jpg" />
        <span id="player-name">KAKA</span>
    </div>
    <div class="opponent">
        <img src="./images/opponent-idle.jpg" />
        <span id="opponent-name">ALEXANDER</span>
    </div>
    <div class="bubble-track">
        
    </div>
    <h1 id="round">Round 1</h1>
    <h2 id="chargeyihao"></h2>
    <h3 id="countdown"></h3>
    <h3 id="opponentmove"></h3>
</div>
<div class="floor">
    <div class="charges">
        <button id="charge">Charge</button>
    </div>
    <div class="attacks">
        <button id="bubble">bubble</button>
        <button id="copperbubble">copper</button>
        <button id="ironbubble" >iron</button>
        <button id="goldbubble" >gold</button>
        <button id="crystalbubble">crystal</button>
        <button id="diamondbubble">diamond</button>
    </div>
    <div class="blocks">
        <button id="normal" >normal</button>
        <button id="super">super</button>
    </div>
</div>
<div class="menu">
    <img src="./images/unnamed.png" />
    <span class="title">BUBBLE</span>
    <button id="start">Start Game</button>
</div>
