<div class="ocean">
    <div class="player">
        <img src="./images/player-idle.jpg" />
    </div>
    <div class="opponent">
        <img src="./images/opponent-idle.jpg" />
    </div>
    <h1 id="round">Round 1</h1>
</div>
<div class="floor">
    <div class="charges">
        <button id="charge">Charge</button>
        <span># Charges</span>
    </div>
    <div class="attacks">
        <button id="bubble" value=1>bubble</button>
        <button id="copperbubble" value=2>copper</button>
        <button id="ironbubble" value=3>iron</button>
        <button id="goldbubble" value=4>gold</button>
        <button id="crystalbubble" value=5>crystal</button>
        <button id="diamondbubble" value=6>diamond</button>
    </div>
    <div class="blocks">
        <button id="normal" value="=">normal</button>
        <button id="super" value="==">super</button>
    </div>
</div>






<h2 id="player">
</h2>
<h4 id="chargeandround">
    <span id="round"></span>
    <span id="chargeyihao"></span>
</h4>
<h1 id="countdown"></h1>
<h3 id='charge1'></h3>
<br>
<font size="4" color="green">CHARGE</font>
<button id="charge" style='color:green' value=-1>charge</button>
<br>
<font size="4" color="red">ATTACK</font>

<br>
<font size="4" color="blue">DEFENSE</font>

